@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, valentine, forest, cupcake,
    lemonade, cyberpunk, aqua, business, night;
}

html {
  @apply w-full;
  @apply h-dvh;
  @apply bg-base-300;
  @apply text-base-content;
  font-family: "Space Grotesk Variable", sans-serif;
  @apply font-bold;
}

body {
}

.modal {
  box-shadow: important none;
}


.figura {
clip-path: polygon(0 47%, 55% 0, 100% 46%, 100% 100%, 75% 100%, 28% 100%, 0 100%);
}